################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Folkefinans.StockProductivity/.vs
/Folkefinans.StockProductivity/Folkefinans.StockProductivity/bin
/Folkefinans.StockProductivity/Folkefinans.StockProductivity/obj/Debug
/Folkefinans.StockProductivity/Folkefinans.StockProductivity/App_Data
